<table class="table">
  <thead>
    <tr>
			<th>성명</th>
      <th>email</th>
			<th>소속팀</th>
			<th>status</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>     
			<tr>
				<td><%= link_to user.korean_full_name, user_path(user) %></td>
        <td><%= user.email %></td>
				<td><%= user.team.name %></td>
				<td><%= user.status %></td>
      </tr>
		<% end %>
  </tbody>
</table>