<h1>사람들</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>email</th>
    </tr>
  </thead>
  <tbody>
			<tr>
        <td><%= link_to @user.email, user_path(@user) %></td>
      </tr>
  </tbody>
</table>