<% if !facebook_page.empty? %>
	<div class="fb-like-box" data-href="http://www.facebook.com/<%= facebook_page %>" data-width="960" data-height="500" data-show-faces="true" data-stream="true" data-header="true"></div>
<% end %>