<ul class="nav nav-tabs">
  <li class="active"><a href="#user" data-toggle="tab">창업팀 멤버</a></li>
  <li class><a href="#mentor" data-toggle="tab">멘토</a></li>
	<li class><a href="#head" data-toggle="tab">진흥원</a></li>
</ul>


<div class="tab-content">
  <div class="tab-pane active" id="user">
		<%= render "user_table"%>
	</div>
  <div class="tab-pane" id="mentor">
  	<%= render "mentor_table"%>
  </div>
  <div class="tab-pane" id="head">
  	<%= render "head_table"%>
  </div>
</div>

