<h1>기관</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>기관명</th>
      
    </tr>
  </thead>
  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.name %></td>
        <td>
          <%= link_to 'Edit', edit_organization_path(organization), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', organization_path(organization), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_organization_path, :class => 'btn btn-primary' %>
